img {

    width: 100%;
}

.logo-img {
    width: 150px;
}

.logo-text>p {
    font-size: 2em;
    font-style: italic;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BCBD85;
    color: #9A8059;
    padding-right: 15px;
}

body {
    margin: 0%;
    font-family: "Caveat", cursive;
font-size: 1.5em;
}

.text-1 {
    border-left: 5px solid rgb(73, 45, 7);
    padding-left: 10px;
    margin: 15px;
}

.item-1 {
    background-image: url(img/pizza1.jpg);
}

.item-2 {
    background-image: url(img/pizza2.jpg);
}

.item-3 {
    background-image: url(img/pizza3.jpg);
}

.item-4 {
    background-image: url(img/pizza4.jpg);
}

.item-5 {
    background-image: url(img/pizza5.jpg);
}

.item-6 {
    background-image: url(img/pizza6.jpg);
}

.item-7 {
    background-image: url(img/pizza7.jpg);
}

.item-8 {
    background-image: url(img/pizza8.jpg);
}

.item-9 {
    background-image: url(img/pizza9.jpg);
}

.pizza {
    width: 165px;
    height: 128px;
    color: bisque;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
    border-radius: 20px;
}

.pizza-father {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dodatky {
    background-image: url(img/1.png);
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-between;
}

.dod-1 {
    background-color: #9A8059;
    color: aliceblue;
    padding: 15px;
    margin: 20px;
    align-self: center;
}

.dod-2 {
    background-color: #9A8059;
    color: aliceblue;
    padding: 15px;
    margin: 20px;
    align-self: flex-start;
}

.dod-3 {
    background-color: #9A8059;
    color: aliceblue;
    padding: 15px;
    margin: 20px;
    align-self: flex-end;
}

.dod-4 {
    background-color: #9A8059;
    color: aliceblue;
    padding: 15px;
    margin: 20px;
    align-self: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 200px;
    flex-grow: 2;
    background-color: #9A8059;
    
}

main {
    width: 400px;
    background-color: #9A8059;
    flex-grow: 10;
}
ul{
list-style-type: none;
padding-left: 0;
}
li{
background-color: #FFF3F7;
margin: 10px;
padding: 15px;
border-radius: 15px; 
transition: 1s;
}
.circle{
background-color: rgb(87, 69, 38);
border-radius: 35px;
padding: 15px;


}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.big-text, .big-img{
width: 300px;
flex-grow: 1;
padding: 15px 30px;

}
.big-img>img{
    border-radius: 15px;
}
.our-principles{
background-color: #9A8059;
}
.order{
    flex-wrap: wrap-reverse;
}
footer{
    background-color: rgb(123, 78, 5);
color: #EAD3C1;
padding: 20px;
}
.socio{
color: #ac9b8f;
font-size: 2.1em;
text-decoration: none;
}
.face:hover{
    color: blue;
}
.win:hover{
    color: white;
}
.vib:hover{
color: blueviolet;
}
.yt:hover{
    color: red;
}
.tw:hover{
    color: darkcyan;
}
li:hover{
    color: #5C0E27;
background-color: #EAD3C1;
font-weight: 900;
letter-spacing: 2px;
box-shadow: 0px 0px 2px 2px;
}













































































































