.img-donut{
    width: 100%;
}
#no{
    width: 90px;
    user-select: none;
    position: absolute;
}
.wrapper{
    position: relative;
    background-color: blueviolet;
    height: 80vh;
    width: 80%;
    margin: auto;
}
h2, p{
    text-align: center;
}
body{
    background-color: blueviolet
    ;
}